.borda{
    background-image: url(wide-angle-shot-single-tree-growing-clouded-sky-sunset-surrounded-by-grass.jpg);
    background-size: cover;
}

.titulo_borda{
    background-color: red;
    border: 2px solid;
    border-color: green;
    width: 24%;
    text-align: center;
}

.title{
    text-align: center;
}

.div_1{
    background-color: red;
    width: 700px;
    height: 200px;
    padding: 0% ;
    margin: 0px auto;
}

.div_2{
    background-color: green;
    width: 700px;
    height: 200px;
    margin: 10px auto;
    padding: 25px;
}

.texto{
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

.link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.carmelo{
    background-color: #CD853F;
}

.divisoes{
    background-color: green;
    width: 700px;
    height: 200px;
    margin: 10px auto;
    padding: 25px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.t1{
    width: 155px;
    height: 138px;
}

.loja{
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 10px;
}

.preco{
    color: rgb(255, 255, 255);
}

.rodape{
    background-color: #333;
    padding: 100px;
    text-align: center;
    margin-top: 400px;
}

.name{
    color: white;
}